<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Iniciar sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="loginForm">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input autocomplete="off" formControlName="email" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input autocomplete="off" type="password" formControlName="password" matInput />
        </mat-form-field>
        <div class="flex justify-content-end">
          <button type="submit" mat-button>
            Iniciar sesión
          </button>
        </div>
      </form>
    </mat-card-content>
    <!-- Divider -->
    <mat-divider></mat-divider>

    <!-- Desplegable (Expansion Panel) -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Información adicional
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> email: admin&#64;email.com
        <br>password: 123456
      </p>
      <p> email: student&#64;email.com
        <br>password: 123456
      </p>
      <p> email: teacher&#64;email.com
        <br>password: 123456
      </p>
    </mat-expansion-panel>
  </mat-card>

</div>