<mat-sidenav-container class="sidenav-container">
   
    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side" class="sidenav" position="end">
      <app-navmenu></app-navmenu>  
    </mat-sidenav>
  
    <!-- Contenido Principal -->
    <mat-sidenav-content>
      <mat-toolbar style="justify-content: flex-end;">
        <span style="padding: 40px;">Coder</span>
  
       
     <!-- Mostrar login si no hay usuario autenticado -->
     <ng-container *ngIf="(authUser$ | async) === null; else loggedIn">
      <a mat-list-item [routerLink]="['/auth/login']">
        <mat-icon>login</mat-icon>
        <span>Sign In</span>
      </a>
    </ng-container>

    <!-- Mostrar logout si el usuario está autenticado -->
    <ng-template #loggedIn>
      <a mat-list-item (click)="logout()">
        <mat-icon >logout</mat-icon>
        <span>Logout</span>
      </a>
    </ng-template>
        
          
        <!-- Botón que abre el sidenav -->
        <button (click)="sidenav.toggle()" mat-icon-button aria-label="Toggle sidenav">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
  
      <!-- Aquí iría el contenido principal de la página -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>