<mat-sidenav-container class="sidenav-container">
   
    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side" class="sidenav" position="end">
      <app-navmenu></app-navmenu>  
    </mat-sidenav>
  
    <!-- Contenido Principal -->
    <mat-sidenav-content>
      <mat-toolbar style="justify-content: flex-end;">
        <span style="padding: 40px;">Coder</span>
  
       
        <!-- Botón de usuario -->
      <div>
        <a mat-list-item [routerLink]="['/auth/login']" >
          <mat-icon >login</mat-icon>
          <span >Sign In</span>
        </a>
      </div>
        
          
        <!-- Botón que abre el sidenav -->
        <button (click)="sidenav.toggle()" mat-icon-button aria-label="Toggle sidenav">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
  
      <!-- Aquí iría el contenido principal de la página -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>