.sidenav-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  ::ng-deep .mdc-list-item__primary-text{
    width: 100px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    
  }
  
  

  .sidenav {
    width: 250px;
  }
  
  .content {
    padding: 20px;
  }
  