<!--Acordeon para Agregar Alumnos-->

<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title> Agregar Alumno</mat-panel-title>
        <mat-panel-description>
          Rellena con los datos del alumno 
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-container">
   
        <form style="display: flex;justify-content: center;"   [formGroup]="studentForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="studentForm.get('name')?.hasError('required')">El nombre es obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
      
            <mat-label>Lastname</mat-label>
      <input matInput formControlName="lastname" required />
      <mat-error *ngIf="studentForm.get('lastname')?.hasError('required')">El nombre es obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
      
            <mat-label>Age</mat-label>
      <input matInput formControlName="age" type="number" required />
      <mat-error *ngIf="studentForm.get('age')?.hasError('required')">La edad es obligatoria</mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
      <mat-error *ngIf="studentForm.get('email')?.hasError('required')">El email es obligatorio</mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
      <input matInput formControlName="country" required />
      <mat-error *ngIf="studentForm.get('country')?.hasError('required')">El nombre es obligatorio</mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
      <input matInput formControlName="address" required />
      <mat-error *ngIf="studentForm.get('address')?.hasError('required')">El nombre es obligatorio</mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Course</mat-label>
      <input matInput formControlName="course" required />
      <mat-error *ngIf="studentForm.get('course')?.hasError('required')">El nombre es obligatorio</mat-error>
          </mat-form-field>
      
          <button mat-raised-button color="primary" type="submit" [disabled]="studentForm.invalid">Agregar</button>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  
  <!--Lista de Alumnos-->
  
  <div class="table-container">
    <h2>Lista de Alumnos</h2>
  
    <!-- Campo de búsqueda -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar estudiante</mat-label>
      <input matInput [(ngModel)]="searchText" (keyup)="applyFilter()" placeholder="Filtrar por nombre o apellido" />
    </mat-form-field>
  
    <!-- Tabla -->
    <table mat-table [dataSource]="filteredDataSource || dataSource">
    <!-- Columna id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>
      <!-- Columna Nombre -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef appHeaderFontSize> Name </th>
        <td mat-cell *matCellDef="let student">
          <ng-container *ngIf="student.isEditing; else nameView">
            <!-- Modo edición -->
            <input [(ngModel)]="student.name" placeholder="Nombre" style="width: 100%; border: none; background: transparent;">
          </ng-container>
          <!-- Modo vista -->
          <ng-template #nameView>
            {{ student | nameLastname }}
            <span [appHighlight]="student.name" [searchText]="searchText"></span>
          </ng-template>
        </td>
      </ng-container>
  
      <!-- Apellido -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef appHeaderFontSize> Lastname </th>
        <td mat-cell *matCellDef="let student">
          <ng-container *ngIf="student.isEditing; else lastnameView">
            <input [(ngModel)]="student.lastname" placeholder="Apellido" style="width: 100%; border: none; background: transparent;">
          </ng-container>
          <ng-template #lastnameView>
            {{ student.lastname }}
          </ng-template>
        </td>
      </ng-container>
  
      <!-- Edad -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef appHeaderFontSize> Age </th>
        <td mat-cell *matCellDef="let student">
          <ng-container *ngIf="student.isEditing; else ageView">
            <input type="number" [(ngModel)]="student.age" placeholder="Edad" style="width: 100%; border: none; background: transparent;">
          </ng-container>
          <ng-template #ageView>
            {{ student.age }}
          </ng-template>
        </td>
      </ng-container>
  
      <!-- Email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef appHeaderFontSize> Email </th>
        <td mat-cell *matCellDef="let student">
          <ng-container *ngIf="student.isEditing; else lastnameView">
            <input [(ngModel)]="student.email" placeholder="Email" style="width: 100%; border: none; background: transparent;">
          </ng-container>
          <ng-template #lastnameView>
            {{ student.email }}
          </ng-template>
        </td>
      </ng-container>
  
       <!-- Pais -->
       <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef appHeaderFontSize> Country </th>
        <td mat-cell *matCellDef="let student">
          <ng-container *ngIf="student.isEditing; else lastnameView">
            <input [(ngModel)]="student.country" placeholder="Country" style="width: 100%; border: none; background: transparent;">
          </ng-container>
          <ng-template #lastnameView>
            {{ student.country }}
          </ng-template>
        </td>
      </ng-container>
  
       <!-- Direccion -->
       <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef appHeaderFontSize> Address </th>
        <td mat-cell *matCellDef="let student">
          <ng-container *ngIf="student.isEditing; else lastnameView">
            <input [(ngModel)]="student.address" placeholder="Address" style="width: 100%; border: none; background: transparent;">
          </ng-container>
          <ng-template #lastnameView>
            {{ student.address }}
          </ng-template>
        </td>
      </ng-container>
  
       <!-- Curso -->
       <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef appHeaderFontSize> Course </th>
        <td mat-cell *matCellDef="let student">
          <ng-container *ngIf="student.isEditing; else lastnameView">
            <input [(ngModel)]="student.course" placeholder="Course" style="width: 100%; border: none; background: transparent;">
          </ng-container>
          <ng-template #lastnameView>
            {{ student.course }}
          </ng-template>
        </td>
      </ng-container>
  
      <!-- Acciones -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef appHeaderFontSize> Acciones </th>
        <td mat-cell *matCellDef="let student; let i = index">
          <ng-container *ngIf="student.isEditing; else editButtons">
            <button mat-icon-button (click)="saveEdit(i)">
              <mat-icon style="color: green;">check</mat-icon>
            </button>
            <button mat-icon-button (click)="cancelEdit(i)">
              <mat-icon style="color: red;">close</mat-icon>
            </button>
          </ng-container>
          <ng-template #editButtons>
            <button mat-icon-button (click)="enableEdit(i)">
              <mat-icon style="color: blue;">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteStudent(i)">
              <mat-icon style="color: red;">delete</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>
  
      <!-- Filas y columnas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  